*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url("images/bg-hero-desktop.svg");
    width: 100vw;
    height: auto;
    /* border: 3px solid black; */
    margin-bottom: 10%;
}
.header{
    /* border: 3px solid black; */
    display: flex;
    flex: 1;
    justify-content: space-between; 
    padding-top: 4%;
}
#header-logo{
    padding-left: 100px;
}
#header-logo img{
    width: 100%;
    height: auto;
}
#header-button{
    padding-right: 100px;   
}
#header-button button{
    font-size: medium;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 4.5%;
    padding-bottom: 4.5%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0.5px black;

}

.header-content{
    display: flex;
    margin-top: 50px;
    padding-bottom: 30px;
}
#left-side{
    flex: 1;
    padding-left: 100px;
    padding-top: 50px;
    font-size: larger;
    padding-right: 60px;
}
#left-side h2{
    font-size: 2.6vw;
}
#left-side p{
    font-size: 1.6vw;
}
#right-side{
    flex: 1;
    padding-right: 100px;
}
.header_image{
    width: 100%;
    height: auto;
}
#header-bottom-button button{ 
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0px 0px 10px 0.5px hsl(322, 100%, 66%);
}

/* Body Section */

.section{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    /* border: 1px solid rgb(235, 232, 232); */
    /* box-shadow: rgba(206, 200, 200, 0.12) 0px 1px 3px, rgba(206, 198, 198, 0.24) 0px 1px 2px; */
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0.5px silver;
    margin-bottom: 45px;
}
.left-part-section{
    flex: 1;
    font-size: larger;
    margin-top: 8%;
    margin-left: 8%;
    padding-bottom: 3%;
}
h1{
    font-size: 2.6vw;
}
p{
    font-size: 1.6vw;
}
.right-part-section{
    flex: 1;
    margin-top: 5%;
    margin-left: 18%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.section-image{
    width: 60%;
}

/* Last Section */
.last-section{
    padding-top: 14%;
    padding-bottom: 100px;
    background-color: darkslategrey;
    padding-left: 50px;
    padding-right: 100px;
}
#bottom-logo{
    margin-left: 50px;
    width: 25%;
    margin-bottom: 3%;
}

.rows{
    display: flex;
    margin-left: 50px;
}
.first-row{
    flex: 1.4;
    display: flex;
    flex-direction: column;
    color: white;
}
.second-row{
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 10%;
}
.third-row{
    display: flex;
    flex: 1;
    color: white;
    flex-direction: column;
}
.fourth-row{
    flex: 1;
    display: flex;
}
.contact{
    display: flex;
}
.icon{
    padding-top: 5px;
    flex: 1;
    width: 100%;
}
.description{
    flex: 10;
    padding-right: 10px;
}
.social{
    margin-top: 4%;
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
    height: 10%;
}
/* Above Box */
.above-box{
    background-color: white;
    position: relative;
    top: 10vh;
    margin-left: 25%;
    margin-right: 25%;
    height: 100px;
    box-shadow: 0px 0px 10px 0.5px silver;
    border-radius: 20px;
    padding-top: 4%;
    padding-bottom: 5%;
}
.above-box h2{
    text-align: center;
    padding-top: 10px;
}

.con{
    margin-top: 20px;
    width: 100%;
}

.con_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.above-box button{
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    border-radius: 30px;
    background-color: hsl(322, 100%, 66%);
    box-shadow: 0px 0px 10px 0.5px hsl(322, 100%, 66%);
}
.copyright{
    display: flex;
    margin-top: 5%;
    justify-content: flex-end;
}




/* --------------------------- */
@media screen and (max-width:900px) {
    .header-content{
        flex-direction: column;
    }
    #right-side{
        padding-left: 15%;
        padding-top: 5%;
    }
    #header-bottom-button button{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    #left-side h2{
        text-align: center;
        font-size: 170%;
    }
    #left-side p{
        text-align: center;
        font-size: 150%;
    }
    .section{
        flex-direction: column-reverse;
    }
    .section-replica{
        flex-direction: column;
    }
    h1{
        padding-right: 35px;
        text-align: center;
        font-size: 170%;
    }
    p{
        padding-right: 35px;
        /* text-align: center; */
        font-size: 130%;
    }
    .mobile-compaitable{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #header-logo{
        padding-left: 60px;
    }
    #header-button{
        padding-right: 60px;
    }
    #header-logo img{
        width: 80%;
        height: auto;
    }
    .above-box{
        margin-left: 13%;
        margin-right: 13%;
    } 
    .above-box{
        padding-bottom: 60px;
    }
    .last-section{
        padding-top: 14%;
    }
    #bottom-logo{
        margin-top: 12%;
        width: 40%;
    }
    .rows{
        flex-direction: column;
    }
    .description p{
        text-align: left;
    }
    .second-row{
        margin-top: 7%;
        padding-left: 0;

    }
    .second-row p{
        text-align: left;
    }
    .copyright{
        justify-content: center;
        margin-left: 10%;
    }
}
